{% extends "base.html" %}
{% block content %}

<div class="container ">
    <div class="row">
        <div class="col-12 text-center py-4">
            <div class="card border-dark bg-dark-subtle">
                <div class="card-body">
                    <h5 class="card-title">Add A New Sub-Menu</h5>
                    <p class="card-text">
                    <form class="row" action="{{ url_for('add_sub_menus') }}" method="POST">
                        <div class="col-12 py-3">
                            <select class="form-select" name="menus_id" required aria-label="Default select example">
                                <option selected>Choose A Menu</option>

                                {% for menu in menus %}

                                <option value="{{ menu.id }}">{{ menu.menus_name }}</option>
                                
                                {% endfor %}
                                
                            </select>
                        </div>
                        <div class="col-12 py-3">
                            <input type="text" class="form-control" id="submenu_name" name="submenu_name" minlength="3"
                                maxlength="25" required aria-describedby="sub_menu_name"
                                placeholder="Sub-Menu Name (3-25 characters)">
                        </div>
                        <div class="col-12 py-3">
                            <input type="text" class="form-control" id="submenu_description" name="submenu_description"
                                minlength="3" maxlength="29" required aria-describedby="sub_menu_description"
                                placeholder="Sub-Menu Description (3-29 characters)">
                        </div>
                        <div class="col-12 py-3">
                            <button type="submit"
                                class="d-inline-flex btn align-items-center justify-content-center text-bg-success btn-lg">Add
                                Sub-Menu <i class="fas fa-2x fa-plus-square right ps-3"></i></button>
                        </div>
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}