<!-- displays the add menu screen and allows new menus to be created -->

{% extends "base.html" %}

{% block header %}

<!-- sets active navbar tab to menus -->

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link fs-2 active" aria-current="page" href="{{url_for('main_menu') }}">Menus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('current_order') }}">Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('sales') }}">Sales</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<!-- form to accept menu info and POST to create on database -->

<div class="container ">
    <div class="row">
        <div class="col-12 text-center py-4">

            {% if new_menu == 'True' %}

            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>New Menu Added</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            {% endif %}

            <!-- gets menu name and description and POST it to postgresql database -->

            <!--
                here the new_menu variable is set to 'True' triggering an alert
                confirming the new menu has been created (see code above). would 
                have liked to have used a boolean value but jinja2 did not correctly
                identify it so a string was used instead
            -->

            <div class="card border-dark bg-dark-subtle">
                <div class="card-body">
                    <h5 class="card-title">Add A New Menu</h5>
                    <p class="card-text">
                    <form class="row" action="{{ url_for('add_menus', new_menu='True') }}" method="POST">
                        <div class="col-12 py-3">
                            <input type="text" class="form-control" id="menus_name" name="menus_name" minlength="3"
                                maxlength="25" required aria-describedby="menu_name"
                                placeholder="Menu Name (3-25 characters)">
                        </div>
                        <div class="col-12 py-3">
                            <input type="text" class="form-control" id="menus_description" name="menus_description"
                                minlength="3" maxlength="29" required aria-describedby="menu_description"
                                placeholder="Menu Description (3-29 characters)">
                        </div>
                        <div class="col-12 py-3">
                            <a href="{{ url_for('main_menu') }}"
                                class="d-inline-flex align-items-center justify-content-center btn text-bg-primary btn-lg">Cancel<i
                                    class="fas fa-2x fa-window-close right ps-3"></i></a>
                            <button type="submit"
                                class="d-inline-flex btn align-items-center justify-content-center text-bg-success btn-lg  position-relative">Add
                                Menu <i class="fas fa-2x fa-plus-square right ps-3"></i></button>
                        </div>
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}