{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="row justify-content-center py-1">

        {% for order in current_order %}

        <div class="col-12 text-start py-2">
            <div class="card border-dark bg-dark-subtle">
                <div class="card-body d-inline-flex">
                    <div class="col-3 d-inline-flex align-items-center justify-content-center">
                        <h5 class="card-title">{{ order.currentorder_name }}</h5>
                    </div>
                    <div class="col-3 d-inline-flex align-items-center justify-content-center">
                        <h3 class="card-text">£ {{ order.currentorder_price }}</h3>
                    </div>
                    <div class="col-6 text-end">
                        <a href="{{ url_for('remove_item', item_id=order.id) }}"
                    class="d-inline-flex col-4 align-items-center justify-content-center btn text-bg-danger btn-sm">Remove
                    <i class="fas fa-2x fa-minus-square right ps-2"></i></a>
                    </div>
                    
            </div>
        </div>

        {% endfor %}
    
    </div>

</div>

{% endblock %}