<!-- Display the current order. -->

{% extends "base.html" %}

{% block header %}

<!-- Sets active navbar tab to order. -->

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('main_menu') }}">Menus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2 active" aria-current="page" href="{{url_for('current_order') }}">Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('sales') }}">Sales</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<!-- List the items as Bootstrap cards for the current order and offer a remove option. -->

<div class="container">
    <div class="row justify-content-center py-1">

        {% for order in current_order %}

        <div class="col-12 text-start py-2">
            <div class="card border-dark bg-dark-subtle">
                <div class="card-body d-inline-flex">
                    <div class="col-5 d-inline-flex align-items-center justify-content-center">
                        <h5 class="card-title text-uppercase text-break text-wrap">{{ order.currentorder_name }}</h5>
                    </div>
                    <div class="col-3 d-inline-flex align-items-center justify-content-end me-1">
                        <h3 class="card-text">{{ '%0.2f'|format(order.currentorder_price) }}</h3>
                    </div>
                    <div class="col-4 text-end d-inline-flex align-items-center justify-content-end">
                        <a href="{{ url_for('remove_item', item_id=order.id) }}"
                            class="d-inline-flex align-items-center justify-content-center btn text-bg-danger btn-sm">Remove
                            <i class="fas fa-2x fa-minus-square right ps-2"></i></a>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}

{% block footer%}

<!-- Shows total price of order in footer and offers a paid option. -->

<div class="d-flex text-end col-6 text-white align-items-center justify-content-end"><a
        href="{{ url_for('transaction', total_price=total_price, total_costprice=total_costprice) }}"
        class="btn btn-sm text-bg-success fs-4">£{{ '%0.2f'|format(total_price) }}</a></div>

{% endblock %}