<!-- Display chosen item and allow it to be edited. -->

{% extends "base.html" %}

{% block header %}

<!-- Sets active navbar tab to menus. -->

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link fs-2 active" aria-current="page" href="{{url_for('main_menu') }}">Menus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('current_order') }}">Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('sales') }}">Sales</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<!-- Edit the item, name, description, price and cost price and POST info to postgresql database. -->

<div class="container ">
    <div class="row">
        <div class="col-12 text-center py-4">
            <div class="card border-dark bg-dark-subtle">
                <div class="card-body">
                    <h5 class="card-title">EDIT ITEM</h5>
                    <p class="card-text">
                    <div class="rows">
                        <form action="{{ url_for('edit_items', submenus_id=items.id) }}" method="POST"
                            class="form-floating">
                            <div class="col-12 py-3 text-start">
                                <label for="submenus_name">Currently In Sub-Menu: {{ submenus_name }}</label>
                                <select class="form-select" id="submenus_name" name="submenus_name" aria-label="Default select example">
                                    <option value="{{ submenus_name.id }}" selected>Choose a Menu from the dropdown</option>

                                    {% for submenu in submenus_list %}

                                    <option value="{{ submenu.id}}">{{ submenu.submenus_name}}</option>
                                    
                                    {% endfor %}

                                </select>
                            </div>
                            <div class="col-12 py-3 text-start">
                                <label for="items_name">Item Name</label>
                                <input type="text" class="form-control" id="items_name" name="items_name" minlength="3"
                                    maxlength="25" required aria-describedby="items_name"
                                    value="{{ items.items_name }}">
                            </div>
                            <div class="col-12 py-3 text-start">
                                <label for="items_description">Description</label>
                                <input type="text" class="form-control" id="items_description" name="items_description"
                                    minlength="3" maxlength="29" required aria-describedby="item_description"
                                    value="{{ items.items_description }}">
                            </div>
                            <div class="col-12 py-3 text-start">
                                <label for="items_price">Price in format £00.00</label>
                                <input type="text" class="form-control" id="items_price" name="items_price"
                                    minlength="3" maxlength="29" required aria-describedby="item_price"
                                    value="{{ items.items_price }}">
                            </div>
                            <div class="col-12 py-3 text-start">
                                <label for="items_price">Cost Price in format £00.00</label>
                                <input type="text" class="form-control" id="items_costprice" name="items_costprice"
                                    minlength="3" maxlength="29" required aria-describedby="item_cost_price"
                                    value="{{ items.items_costprice }}">
                            </div>
                            <div class="col-12 py-3">
                                <a href="{{ url_for('view_items', menus_id=items.submenus_id) }}"
                                    class="d-inline-flex align-items-center justify-content-center btn text-bg-primary">Cancel<i
                                        class="fas fa-2x fa-window-close right ps-3"></i></a>
                                <button type="submit"
                                    class="d-inline-flex align-items-center justify-content-center btn text-bg-success">Update
                                    <i class="fas fa-2x fa-edit right ps-3"></i></button>
                            </div>
                        </form>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}