<!-- Displays the days sales and offers an export option as .csv file. -->

{% extends "base.html" %}

{% block header %}

<!-- Sets active navbar tab to sales. -->

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('main_menu') }}">Menus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('current_order') }}">Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2 active" aria-current="page" href="{{url_for('sales') }}">Sales</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<!-- 
    Get a valid email address from the user. Format errors checked and handled by browser.
    Non valid email address errors upon send handled by SMTP email client resulting in a 
    'failed to send error'. In this case the SMTP server is gmail.
-->

<div class="container ">
    <div class="row py-3">
        <div class="card border-dark bg-dark-subtle">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                <form class="row" action="{{ url_for('email_sales', send_address=send_address) }}" method="POST">
                    <div class="col-9 py-3">
                        <input type="email" class="form-control" id="email_address" name="email_address" required
                            aria-describedby="email_address" placeholder="Please enter your email address">
                    </div>
                    <div class="col-3 py-3">
                        <button type="submit"
                            class="d-inline-flex btn align-items-center justify-content-center text-bg-success">
                            SEND</button>
                    </div>
                </form>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}