{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 text-center pt-2">
            <a href="{{url_for('add_menus') }}" class="d-inline-flex btn w-100 align-items-center justify-content-center text-bg-success btn-lg">Add
                Menu <i class="fas fa-2x fa-plus-square right ps-3"></i></a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center pt-2">
            <a href="{{url_for('add_sub_menus') }}"
                class="d-inline-flex btn w-100 align-items-center justify-content-center text-bg-success btn-lg">Add Sub-Menu <i
                    class="fas fa-2x fa-plus-square right ps-3"></i></a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center pt-2">
            <a href="{{url_for('add_items') }}" class="d-inline-flex btn w-100 align-items-center justify-content-center text-bg-success btn-lg">Add
                Item <i class="fas fa-2x fa-plus-square right ps-3"></i></a>
        </div>
    </div>
    <div class="row justify-content-center py-2">

        {% for menu in menus %}

        <div class="col-12 col-md-6 col-lg-4 text-center py-2">
            <div class="card border-dark bg-dark-subtle">
                <div class="card-body">
                    <h5 class="card-title">{{ menu.menus_name }}</h5>
                    <p class="card-text">{{ menu.menus_description }}</p>
                    <a href="{{url_for('edit_menus', menus_id=menu.id) }}"
                        class="d-inline-flex col-4 align-items-center btn text-bg-success btn-sm">Edit <i
                            class="fas fa-2x fa-edit right ps-3"></i></a>
                    <!-- Button trigger modal  -->
                    <button type="button" class="d-inline-flex col-4 align-items-center justify-content-center btn text-bg-danger btn-sm"
                        data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete <i class="fas fa-2x fa-minus-square ps-2"></i>
                    </button>
                    <a href="{{ url_for('view_submenus', menus_id=menu.id) }}" class="btn text-bg-primary btn-sm my-3 d-inline-flex align-items-center justify-content-center gap-2 col-8 mx-auto">View Menu <i class="fas fa-2x right ps-3 fa-eye"></i></a>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="DeleteLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteModalLabel">
                                        Delete Menu
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Deleting a Menu will also delete all linked Sub-Menus and
                                    all Items in the Sub-Menus.</p>
                                    <p>Are you sure you want to delete this
                                    Menu?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{url_for('delete_menus', menus_id=menu.id) }}"
                                        class="d-inline-flex align-items-center btn text-bg-danger btn-sm">Delete Menu<i
                                            class="fas fa-2x fa-minus-square right ps-3"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
    
    <div class="row">
        <div class="col-12 text-center py-4">
            <span>Sub menus displayed here ie. hot, cold etc</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center py-4">
            <span>Items displayed here ie. coffee, tea etc</span>>
        </div>
    </div>

    {% endblock %}

</div>