<!-- displays the days sales and offers an export as .csv file option ** FLASK EXCEL TO BE USED FOR THIS ** -->

{% extends "base.html" %}

{% block header %}

<!-- sets active navbar tab to sales -->

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('main_menu') }}">Menus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('current_order') }}">Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2 active" aria-current="page" href="{{url_for('sales') }}">Sales</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<!-- displays the days transactions -->

<div class="container ">
    <div class="row">
        <div class="col-12 text-center py-4">
            <span>Will display the day's sales</span>
        </div>
    </div>
</div>

<!-- prevent footer from partially covering sales cards -->

<div style="height:8em"></div>

{% endblock %}