{% extends "base.html" %}
{% block content %}

<div class="container ">
    <div class="row">
        <div class="col-12 text-center py-4">
            <div class="card">
                <div class="card-body">
                    <p>Welcome to Expresso the mobile friendly point of sale system.</p>
                    <p>Perfect for a small coffeeshop or cafe. Great also for popup stores, farmers markets or even a carboot sale.</p>
                    </p>All you need is an internet connection and a way of taking payments such as Stripe.</p>
                    <p>No need for an expensive till, simply manage your sales through Expresso and a suitable banking app.</p> 
                    <p>The default setup on this app is for a small cafe, edit the Menus, Sub-Menus and Items to build an app that works for you.</p>
                    <p></p>
                    <p>Tap Order to see what items have been added to the bill.</p>
                    <p>Tap Sales to see a list of the day's transactions.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}