{% extends "base.html" %}

{% block header %}

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('main_menu') }}">Menus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('current_order') }}">Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('sales') }}">Sales</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<div class="container ">
    <div class="row">
        <div class="col-12 text-center py-4">
            <div class="card">
                <h5 class="card-title pt-2">Expresso</h5>
                <div class="card-body">
                    <p>Welcome to Expresso the mobile friendly point of sale system.</p>
                    <p>Perfect for a small coffeeshop or cafe. Great also for popup stores, farmers markets or even a
                        carboot sale.</p>
                    </p>All you need is an internet connection and a way of taking payments such as Stripe.</p>
                    <p>No need for an expensive till, simply manage your sales through Expresso and a suitable banking
                        app.</p>
                    <p>The default setup on this app is for a small cafe, edit it to build
                        an app that works for you.</p>
                </div>
            </div>
            <div class="col-12 text-center py-4">
                <div class="card">
                    <h5 class="card-title pt-2">How To Use</h5>
                    <div class="card-body">
                        <p>Expresso runs a simple card based menu system consisting of Menus, Submenus and Items.</p>
                        <p>Start by adding Menus, then Submenus and finally Items. Deleting a Menu will delete all associated
                           Submenus and Items.</p> 
                        </p>Deleting a Sub-Menu will delete all associated Items.</p>
                        <p>Items can be added to the current order which can be viewed in the Order tab from the navigation bar.</p>    
                        <p>Tap Sales to see the total number of orders that have been processed and their value.</p>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}