{% extends "base.html" %}
{% block content %}

<div class="container ">
    <div class="row">
        <div class="col-12 text-center py-4">
            <div class="card">
                <div class="card-body">
                    <p>Welcome to Expresso the mobile friendly point of sale system.</p>
                    <p>Perfect for a small coffeeshop or cafe. All you need is an internet connection.</p>
                    <p>No need for an expensive till, simply manage your sales through Expresso,</p> 
                    <p>and take payments through a stripe enabled banking app.</p>
                    <p>Build menus using Categories, Sub-Categories and Items.</p>
                    <p>Tap Order to see what items have been added to the bill.</p>
                    <p>Tap Sales to see a list of all the day's transactions.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}