<!-- display all items within a chosen submenu -->

{% extends "base.html" %}

{% block header %}

<!-- sets active navbar tab to menus -->

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link fs-2 active" aria-current="page" href="{{url_for('main_menu') }}">Menus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('current_order') }}">Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('sales') }}">Sales</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<!-- on page navigation options -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 text-center pt-2">
            <a href="{{ url_for('view_submenus', submenus_id=submenus.menus_id) }}"
                class="d-inline-flex w-100 align-items-center justify-content-center btn text-bg-primary">Back <i class="fas fa-2x fa-window-close right ps-3"></i></a>
        </div>
        <div class="col-12 col-md-4 order-5 order-md-1 text-center pt-2">
            <div class="d-inline-flex btn disabled w-100 align-items-center justify-content-center border-dark bg-dark-subtle fw-bold" style="color: #000000"><i class="fas fa-2x fa-file-alt pe-2"></i>{{ submenus.submenus_name }}</div>
        </div>
        <div class="col-6 col-md-4 order-md-3 text-center pt-2">
            <a href="{{url_for('add_items', menus_id=menus_id, new_item=False) }}"
                class="d-inline-flex btn w-100 align-items-center justify-content-center text-bg-success">
                Item <i class="fas fa-2x fa-plus-square right ps-3"></i></a>
        </div>
    </div>
    <div class="row justify-content-center py-2">

        <!-- display all items in chosen submenu -->

        {% for item in items %}

        <div class="col-12 col-md-6 col-lg-4 text-center py-2">
            <div class="card border-dark bg-dark-subtle">
                <div class="card-body">
                    <h6 class="card-title">{{ item.items_name }}</h6>
                    <p class="card-text">{{ item.items_description }}</p>
                    <p class="card-text fw-bold">£ {{ '%0.2f'|format(item.items_price) }}</p>
                    <a href="{{url_for('edit_items', submenus_id=item.id) }}"
                        class="d-inline-flex col-4 align-items-center justify-content-center btn text-bg-success btn-sm">Edit
                        <i class="fas fa-2x fa-edit right ps-3"></i></a>
                    <a href="{{ url_for('delete_items', submenus_id=item.id, in_currentorder=False) }}"
                        class="d-inline-flex col-4 align-items-center justify-content-center btn text-bg-danger btn-sm">Delete
                        <i class="fas fa-2x fa-minus-square right ps-2"></i></a>
                    <a href="{{ url_for('addto_order', item_id=item.id, submenus_id=submenus.id, item_name=item.items_name, item_price=item.items_price, item_costprice=item.items_costprice) }}"
                        class="btn text-bg-primary btn-sm my-3 d-inline-flex align-items-center justify-content-center gap-2 col-8 mx-auto">Add
                        to Order <i class="fas fa-2x right ps-3 fa-eye"></i></a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}

{% block footer%}

<div class="d-flex text-end col-6 text-white align-items-center justify-content-end">
    <a href="#" class="d-inline-flex align-items-center justify-content-center btn text-bg-dark">Back to Top<i
        class="fas fa-arrow-up right ps-3"></i></a>
</div>

{% endblock %}