{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 text-center pt-2">
            <a href="{{ url_for('view_submenus', submenus_id=submenus.menus_id) }}"
                class="d-inline-flex w-100 align-items-center justify-content-center btn text-bg-primary btn-lg">Back To
                Sub-Menus <i class="fas fa-2x fa-window-close right ps-3"></i></a>
        </div>
        <div class="col-sm-12 col-md-6 text-center pt-2">
            <a href="{{url_for('add_items', menus_id=menus_id) }}"
                class="d-inline-flex btn w-100 align-items-center justify-content-center text-bg-success btn-lg">Add
                Item <i class="fas fa-2x fa-plus-square right ps-3"></i></a>
        </div>
    </div>
    <div class="row justify-content-center py-2">

        {% for item in items %}

        <div class="col-12 col-md-6 col-lg-4 text-center py-2">
            <div class="card border-dark bg-dark-subtle">
                <div class="card-body">
                   
                    <h5 class="card-title">{{ item.items_name }}</h5>
                    <h6 class="card-sub-title">Sub-Menu: {{ submenus.submenu_name }}</h6>
                    <p class="card-text">{{ item.items_description }}</p>
                    <p class="card-text fw-bold">£ {{ '%0.2f'|format(item.items_price) }}</p>
                    <a href="{{url_for('edit_items', submenus_id=item.id) }}"
                    class="d-inline-flex col-4 align-items-center justify-content-center btn text-bg-success btn-sm">Edit
                    <i class="fas fa-2x fa-edit right ps-3"></i></a>
                    <a href="{{ url_for('delete_items', submenus_id=item.id) }}"
                    class="d-inline-flex col-4 align-items-center justify-content-center btn text-bg-danger btn-sm">Delete
                    <i class="fas fa-2x fa-minus-square right ps-2"></i></a>
                    <a href="{{ url_for('addto_order', item_id=item.id, submenus_id=submenus.menus_id, item_name=item.items_name, item_price=item.items_price) }}"
                        class="btn text-bg-primary btn-sm my-3 d-inline-flex align-items-center justify-content-center gap-2 col-8 mx-auto">Add
                        to Order <i class="fas fa-2x right ps-3 fa-eye"></i></a>

                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}