<!-- Display all current menus. Acts as the homescreen. -->

{% extends "base.html" %}

{% block header %}

<!-- Sets active navbar tab to menus. -->

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link fs-2 active" aria-current="page" href="{{url_for('main_menu') }}">Menus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('current_order') }}">Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('sales') }}">Sales</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<!-- On page navigation options. -->

<div class="container mb-3 mb-md-0">
    <div class="row justify-content-center">
        <div class="col-12 text-center pt-2">
            <a href="{{url_for('add_menus', new_menu=False) }}"
                class="d-inline-flex btn w-100 align-items-center justify-content-center text-bg-success btn-lg">Add
                Menu <i class="fas fa-2x fa-plus-square right ps-3"></i></a>
        </div>
    </div>
    <div class="row justify-content-center py-2">

        <!-- Display all menus. -->

        {% for menu in menus %}

        <div class="col-12 col-md-6 col-lg-4 text-center py-2">
            <div class="card border-dark bg-dark-subtle">
                <div class="card-body">
                    <h5 class="card-title">{{ menu.menus_name }}</h5>
                    <p class="card-text">{{ menu.menus_description }}</p>
                    <a href="{{url_for('edit_menus', menus_id=menu.id) }}"
                        class="d-inline-flex col-4 align-items-center justify-content-center btn text-bg-success btn-sm">Edit
                        <i class="fas fa-2x fa-edit right ps-3"></i></a>
                    <a href="{{url_for('delete_menus', menus_id=menu.id) }}"
                        class="d-inline-flex col-4 align-items-center justify-content-center btn text-bg-danger btn-sm">Delete
                        <i class="fas fa-2x fa-minus-square right ps-2"></i></a>
                    <a href="{{ url_for('view_submenus', submenus_id=menu.id) }}"
                        class="btn text-bg-primary btn-sm my-3 d-inline-flex align-items-center justify-content-center gap-2 col-8 mx-auto">Sub-Menus
                        <i class="fas fa-2x right ps-3 fa-eye"></i></a>

                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}