<!-- Displays the days sales and offers an export as .csv file option. -->

{% extends "base.html" %}

{% block header %}

<!-- Sets active navbar tab to sales. -->

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('main_menu') }}">Menus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2" aria-current="page" href="{{url_for('current_order') }}">Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-2 active" aria-current="page" href="{{url_for('sales') }}">Sales</a>
    </li>
</ul>

{% endblock %}

{% block content %}

<!-- Displays the days transactions. -->

<div class="container ">
    <div class="row">

        <!-- 
            Uses length of string as counter for number of items. 
            Due to scoping if set as variable it would not be
            accessible within the for loop.
        -->

        {% set order_number=[] %}

        {% for transaction in transactions %}

        {% if transaction.transactions_name == "total" %}

        {% set __ = order_number.append(1) %}

        <!-- 
            If transaction name is 'total' then display a different colour card and info. -->

        <div class="col-12 py-1">
            <div class="card border-dark bg-success-subtle">
                <div class="card-body d-inline-flex">
                    <div class="col-4 d-flex justify-content-center">
                        <h5 class="card-text"><strong> ORDER {{ order_number|length
                                }}</strong></h5>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <h5 class="card-text"><strong>TOTAL:£ {{ '%0.2f'|format(transaction.transactions_price)
                                }}</strong></h5>
                    </div>
                    <div class="col-4 d-flex justify-content-end">
                        <h5 class="card-text"><strong>COST:£ {{ '%0.2f'|format(transaction.transactions_costprice)
                                }}</strong></h5>
                    </div>
                </div>
            </div>
        </div>

        {% else %}

        <!-- Display a card with basic transaction info ie name, price, costprice. -->

        <div class="col-12 text-start py-1">
            <div class="card border-dark bg-dark-subtle">
                <div class="card-body d-inline-flex">
                    <div class="col-12 d-flex justify-content-between">
                        <div class="col-4 d-flex justify-content-center">
                            <h5 class="card-title">{{ transaction.transactions_name }}</h5>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <h5 class="card-text">{{ '%0.2f'|format(transaction.transactions_price) }}</h5>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <h5 class="card-text">{{ '%0.2f'|format(transaction.transactions_costprice) }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

        {% endfor %}

        <div class="col-12 text-start py-1">
            <div class="card border-dark bg-danger-subtle">
                <div class="card-body d-inline-flex">
                    <div class="col-12 d-inline-flex">
                        <div class="col-8">
                            <h5 class="card-text">Tap/Click the 'CSV File' button to email the days sales.</h5>
                            <h5>WARNING: The sales data will be reset after you have submitted a valid email address.</h5>
                        </div>

                        <!-- Has to send an email address to 'email_sales' so used my business email address. -->

                        <div class="col-4 d-flex align-items-center justify-content-end">
                            <a href="{{url_for('email_sales', send_address='gavin.brown@4uxdesign.com') }}"
                                class="btn btn-sm text-bg-primary fs-3 me-3">CSV File</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}